header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
}

header.a .source {
    /* text-decoration: none; */
    margin: auto;
}
