<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/searchbar/searchbar2.css">
  <!-- <link rel="stylesheet" href="../../css/searchbar/searchbar2.scss"> -->
  <title>Search Bar 2</title>
</head>

<body>
  <header>
    <h1><a class="title" href="https://www.youtube.com/@KevinPowell" target="_blank">by Kevin Powell</a></h1>
    <a class="source" href="https://www.youtube.com/watch?v=DonxmmWW7Tk" target="_blank">source video</a>
    <a class="source" href="https://codepen.io/kevinpowell/pen/jONomrd" target="_blank">code source</a>
  </header>
 
  <div class="main">
    <div class="content">
      <div class="search">
        <input type="text" class="search__input" aria-label="search" placeholder="enter your search">
        <button class="search__submit" aria-label="submit search"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
</body>

</html>