<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/searchbar/searchbar1.css">
  <title>Search Bar 1</title>
</head>

<body>
  <header>
    <h1>
      <a class="title" href="https://www.youtube.com/@OnlineTutorialsYT" target="_blank">by Online Tutorials</a>
    </h1>
    <h2>
      <a class="source" href="https://www.youtube.com/watch?v=RctaFustg5w" target="_blank">video</a>
    </h2>
  </header>

  <div class="main">
    <div class="search">
      <div class="icon"></div>
      <div class="input">
        <input type="text" placeholder="Search" id="mysearch">
      </div>
      <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
    </div>
  </div>

<script src="../../js/searchbar1-script.js"></script>
</body>

</html>