<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/loader/loader1.css">
    <title>Loader 1</title>
</head>
<body>
    <header>
        <h1><a class="title" href="https://www.youtube.com/@tutos-front-end" target="_blank">by font-end</a></h1>
        <h2><a class="source" href="https://www.youtube.com/shorts/O_DGQE_uRtE" target="_blank">video</a></h2>
    </header>
    
    <div class="main">
        <div class="container">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="container">
            <div class="ball shadow"></div>
            <div class="ball shadow"></div>
            <div class="ball shadow"></div>
        </div>
    </div>
</body>
</html>