<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/navbar/navbar2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap" rel="stylesheet" />

  <title>Navbar 2</title>
</head>

<body>
  <!-- <header>
        <h1><a class="title" href="https://www.youtube.com/@EcoleduWeb" target="_blank">by École du Web</a></h1>
        <a class="source" href="https://www.youtube.com/watch?v=qNgO9rXb3-8" target="_blank">video source</a>
        <a class="source" href="https://www.ecole-du-web.net/p/coder-la-navbar" target="_blank">code source</a>
    </header> -->

  <nav>

    <a href="#" class="nav-icon" aria-label="visit homepage" aria-current="page">
      <img src="../../assets/navbar2/chat.svg" alt="chat icon">
      <span>EverChat</span>
    </a>

    <div class="main-navlinks">
      <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navlinks-container">
        <a href="#" aria-current="page">Home</a>
        <a href="#">Services</a>
        <a href="#">Pricing</a>
        <a href="#">Community</a>
        <a href="#">Contact</a>
      </div>
    </div>

    <div class="nav-authentication">
      <a href="#" class="sign-user" aria-label="Sign in page">
        <img src="../../assets/navbar2/user.svg" alt="user-icon">
      </a>
      <div class="sign-btns">
        <button type="button">Sign In</button>
        <button type="button">Sign Up</button>
      </div>
    </div>

  </nav>

  <script src="../../js/navbar2-script.js"></script>
</body>

</html>