<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bloc/bloc1.css">
    <title>Bloc 1</title>
</head>
<body>
    <header>
        <h1><a class="title" href="https://www.youtube.com/@tutos-front-end" target="_blank">by font-end</a></h1>
        <h2><a class="source" href="https://www.youtube.com/shorts/Y8_ANxWgCz8" target="_blank">video</a></h2>
    </header>
    <div class="main">
        <div class="box">
        <h2>BORDER - RADIENT</h2>
        <h2>CSS</h2>
        </div>
        <div class="box">
            <h2>BORDER - RADIENT</h2>
            <h2>JS & GSAP</h2>
        </div>
    </div>
</body>
</html>