<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/bloc/bloc1.css">
    <title>bloc1</title>
</head>
<body>
    <header>
        <a class="source" href="https://www.youtube.com/shorts/Y8_ANxWgCz8">video</a>
    </header>
    <div class="main">
        <div class="box">
        <h2>BORDER - RADIENT</h2>
        <h2>CSS</h2>
        </div>
        <div class="box">
            <h2>BORDER - RADIENT</h2>
            <h2>JS & GSAP</h2>
        </div>
    </div>
</body>
</html>