<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/Menu/menu1.css">
  <title>Menu pop-up circulaire</title>
</head>

<body>
  <div class="target">
    <!-- On ne peut pas partager les images sur codepen  -->

    <div class="container-menu">
      <div class="btn-menu">
        <div class="ligne"></div>
      </div>

      <div class="blob blob-1">
        <img src="../../assets/menu1/scale-balanced-solid.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-2">
        <img src="../../assets/menu1/bell-regular.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-3">
        <img src="../../assets/menu1/code-solid.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-4">
        <img src="../../assets/menu1/mug-saucer-solid.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-5">
        <img src="../../assets/menu1/credit-card-regular.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-6">
        <img src="../../assets/menu1/football-solid.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-7">
        <img src="../../assets/menu1/headphones-simple-solid.svg" alt="icone" class="icone">
      </div>
      <div class="blob blob-8">
        <img src="../../assets/menu1/microphone-solid.svg" alt="icone" class="icone">
      </div>
    </div>

  </div>

<script src="../../js/Menu/menu1.js"></script>

</body>

</html>