<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Draggable Navigation Menu</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/Menu/menu4.css">
</head>

<body>

  <div class="target">

    <nav>
      <div class="nav-content">
        <div class="toggle-btn">
          <i class='bx bx-plus'></i>
        </div>
        <span style="--i:1;">
          <a href="#"><i class='bx bxs-home'></i></a>
        </span>
        <span style="--i:2;">
          <a href="#"><i class='bx bxs-camera'></i></a>
        </span>
        <span style="--i:3;">
          <a href="#"><i class='bx bxs-alarm'></i></a>
        </span>
        <span style="--i:4;">
          <a href="#"><i class='bx bxs-map'></i></a>
        </span>
        <span style="--i:5;">
          <a href="#"><i class='bx bxs-cog'></i></a>
        </span>
      </div>
    </nav>

  </div>

  <script src="../../js/Menu/menu4.js"></script>

</body>

</html>